/* Hoja de estilos principal */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Carga iconFont */
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff")
        format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon")
        format("svg");
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook2:before {
	content: "\ea91";
  }
  .icon-instagram:before {
	content: "\ea92";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-pinterest:before {
	content: "\ead1";
  }

:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}
html {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-size: 0.9375rem;
}
.home{
	width: 100vw;
	height: 482vh;
}
.page{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 20% 22% 43% 15%;
	grid-template-columns: 100%;
}
.masthead{
	padding: 6% 6% 0 6%;
	display: grid;
	grid-template-rows: 35% 30% 35%;
	grid-template-columns: 50% 50%;
	background-image: url('../images/mobile/image-hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.masthead .logo{
	z-index: 10;
}
.masthead .logo img{
	width: 100%;
}
.masthead .menu-toggle{
	justify-self: end;
	padding-top: 3%;
	z-index: 10;
}
.masthead .menu-toggle img{
	height: 8%;
}
.masthead .main-navigation{
	display: none;
	background-color: var(--black);
	position: absolute;
	left: -6%;
	top: -6%;
	width: 106%;
	height: 106%;
	grid-template-rows: 100%;
	grid-template-columns: 100%;
}
.masthead .main-navigation ul{
	margin-left: 12%;
	justify-self: start;
	align-self: center;
	color: var(--white);
	height: 35%;
	display: grid;
	grid-template-rows: repeat(5. 1fr);
	grid-template-columns: 100%;
	grid-row-gap: 6%;
}
.masthead .main-navigation .navigation-item a{
	font-size: calc(2.5em + 1vw);
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.masthead .masthead-tittle{
	justify-self: center;
	align-self: center;
	grid-column: 1/3;
	color: var(--white);
	font-size: calc(4em + 1vw);
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 5px;
	border: 5px solid var(--white);
	padding: 6% 12%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}
.grid-container{
	display: grid;
	grid-template-rows: 44% 19% 37%;
	grid-template-columns: 100%;
	padding: 6%;
}
.grid-container .entry-thumbnail{
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.grid-container .entry-content{
	background-color: var(--white);
	grid-row: 2/4;
	display: grid;
	grid-template-rows: 30% 70%;
	grid-template-columns: 100%;
	padding: 0 6%;
}
.grid-container .entry-tittle{
	justify-self: center;
	align-self: end;
	text-transform: uppercase;
	font-size: calc(3.5em + 1vw);
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 5px;
	color: var(--very-dark-gray);
}
.grid-container .entry-summary{
	justify-self: center;
	align-self: center;
	font-size: calc(1.6em + 1vw);
	text-align: center;
	color: var(--dark-gray);
	line-height: 1.6;
}
.entry-related{
	display: grid;
	grid-template-rows: 6% repeat(8, 8%) 12%;
	grid-template-columns: 100%;
	padding: 0 6%;
	grid-row-gap: 2%;
}
.entry-related .aside-title{
	justify-self: center;
	align-self: center;
	text-transform: uppercase;
	font-size: calc(3em + 1vw);
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 5px;
	color: var(--very-dark-gray);
}
.entry-related .grid-item {
	background-size: cover;
	background-repeat: no-repeat;
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 100%;
}
.entry-related .grid-item .entry-title{
	justify-self: start;
	align-self: end;
	color: var(--white);
	font-size: calc(2.5em + 1vw);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	padding: 8%;
}
.entry-related #deep{
	background-image: linear-gradient(to right, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
    url("../images/mobile/image-deep-earth.jpg");
}
.entry-related #night{
	background-image: linear-gradient(to right, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)), 
	url('../images/mobile/image-night-arcade.jpg');
}
.entry-related #soccer{
	background-image: linear-gradient(to right, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
	url('../images/mobile/image-soccer-team.jpg');
}
.entry-related #grid{
	background-image: linear-gradient(to right, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
	url('../images/mobile/image-grid.jpg');
}
.entry-related #vr{
	background-image: linear-gradient(to right, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
	url('../images/mobile/image-from-above.jpg');
}
.entry-related #pocket{
	background-image: linear-gradient(to right, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
	url('../images/mobile/image-pocket-borealis.jpg');
}
.entry-related #curiosity{
	background-image: linear-gradient(to right, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
	url('../images/mobile/image-curiosity.jpg');
}
.entry-related #fisheye{
	background-image: linear-gradient(to right, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
	url('../images/mobile/image-fisheye.jpg');
}
.entry-related .aside-button{
	justify-self: center;
	align-self: start;
	background-color: var(--white);
	border-color: var(--very-dark-gray);
	color: var(--black);
	text-transform: uppercase;
	font-size: calc(1.1em + 1vw);
	letter-spacing: 10px;
	width: 50%;
	height: 25%;
}
.entry-related .aside-button:hover{
	border-color: var(--black);
	background-color: var(--black);
	color: var(--white);
	cursor: pointer;
}
.footer{
	padding: 12%;
	background-color: var(--black);
	display: grid;
	grid-template-rows: 12% 58% 16% 14%;
	grid-template-columns: 100%;
	width: 76%;
}
.footer .footer-logo{
	justify-self: center;
	align-self: start;
	width: 100%;
	display: grid;
}
.footer-logo img{
	justify-self: center;
	width: 50%;
}
.footer .footer-nav {
	display: grid;
}
.footer .footer-nav ul{
	justify-self: center;
	align-self: stretch;
	text-align: center;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: 100%;
	font-size: calc(1.2em + 1vw);
}
.footer .footer-nav ul li{
	align-self: center;
}
.footer .footer-nav ul li:hover{
	text-decoration: underline solid var(--white) 4px;
  	text-underline-offset: 8px;
}
.footer .footer-nav ul li a{
	text-decoration: none;
	color: var(--white);
}
.footer .social-container{
	align-self: end;
	justify-self: center;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100%;
	width: 60%;
	height: 100%;
}
.footer .social-container li{
	justify-self: center;
	align-self: end;
}
.footer .social-container li:hover{
	text-decoration: underline solid var(--white) 4px;
  	text-underline-offset: 8px;
}
.social-container .social-link a{
	color: var(--white);
	text-decoration: none;
	height: 100%;
	font-size: calc(2em + 1vw);
}
.social-container .social-link a:hover{
	cursor: pointer;
	color: var(--white);
}
.footer .footer-copyright{
	align-self: center;
	justify-self: center;
	color: var(--very-dark-gray);
	font-size: calc(1.2em + 1vw);
}

 /* Mobile design */
 @media (max-width: 749px) {
	.masthead .masthead-tittle{
		font-size: calc(1.8em + 1vw);
	}
	.masthead .main-navigation .navigation-item a{
		font-size: calc(1.5em + 1vw);
	}
	.grid-container .entry-tittle{
		font-size: calc(1.5em + 1vw);
	}
	.grid-container .entry-summary{
		font-size: calc(0.8em + 1vw);
	}
	.entry-related .aside-title{
		font-size: calc(1.5em + 1vw);
	}
	.entry-related .grid-item .entry-title{
		font-size: calc(1.3em + 1vw);
	}
	.entry-related .aside-button{
		font-size: calc(0.8em + 1vw);
	}
	.footer .footer-nav ul{
		font-size: calc(0.8em + 1vw);
	}
	.social-container .social-link a{
		font-size: calc(1.5em + 1vw);
	}
	.footer .footer-copyright{
		font-size: calc(0.8em + 1vw);
	}
 }
 /* Desktop design */
 @media (min-width: 1025px) {
	.home{
		width: 100vw;
		height: 258vh;
	}
	.page{
		grid-template-rows: 22% 29% 43% 6%;
		grid-template-columns: 100%;
	}
	.masthead{
		padding: 0 11%;
		display: grid;
		grid-template-rows: 13% 64% 23%;
		grid-template-columns: 55% 45%;
		background-image: url('../images/desktop/image-hero.jpg');
	}
	.masthead .logo{
		align-self: end;
		z-index: 10;
	}
	.masthead .logo img{
		width: 35%;
	}
	.masthead .menu-toggle{
		display: none;
	}
	.masthead .main-navigation{
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		background-color: transparent;
		padding: 0;
	}
	.masthead .main-navigation ul{
		justify-self: end;
		margin-left: 0;
		height: 100%;
		width: 90%;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 100%;
		grid-column-gap: 0;
	}
	.masthead .main-navigation ul li{
		align-self: end;
		justify-self: center;
	}
	.masthead .main-navigation .navigation-item a{
		font-size: calc(0.8em + 0.3vw);
		text-transform: none;
	}
	.masthead .main-navigation .navigation-item a:hover{
		text-decoration: underline solid var(--white) 4px;
		text-underline-offset: 8px;
	}
	.masthead .masthead-tittle{
		justify-self: start;
		align-self: end;
		grid-column: 1/2;
		font-size: calc(2.7em + 1vw);
		padding: 4% 6%;
	}
	.grid-container{
		padding: 0 11% 0 11%;
		display: grid;
		grid-template-rows: 19% 21% 21% 18% 21%;
		grid-template-columns: 51% 14% 35%;
	}
	.grid-container picture{ 
		grid-row: 2/5;
		grid-column: 1/3;
	}
	.grid-container .entry-content{
		background-color: var(--white);
		grid-row: 3/5;
		grid-column: 2/4;
		display: grid;
		grid-template-rows: 50% 43%;
		grid-template-columns: 100%;
		grid-row-gap: 7%;
		padding: 11% 11% 0 11%;
	}
	.grid-container .entry-tittle{
		justify-self: start;
		align-self: end;
		font-size: calc(1.7em + 1vw);
		text-align: start;
	}
	.grid-container .entry-summary{
		padding: 0;
		justify-self: start;
		align-self: end;
		font-size: calc(0.2em + 0.8vw);
		text-align: start;
	}
	.entry-related{
		display: grid;
		grid-template-rows: 8% 36% 36% 14%;
		grid-template-columns: repeat(4, 1fr);
		padding: 0 11%;
		grid-row-gap: 2%;
		grid-column-gap: 2%;
	}
	.entry-related .aside-title{
		grid-column: 1/3;
		justify-self: start;
		align-self: center;
		font-size: calc(1.9em + 1vw);
	}
	.entry-related .grid-item {
		background-size: cover;
		background-repeat: no-repeat;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
	}
	.entry-related .grid-item .entry-title{
		justify-self: start;
		align-self: end;
		font-size: calc(1.5em + 1vw);
	}
	.entry-related #deep{
		background-image: linear-gradient(to top, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
		url("../images/desktop/image-deep-earth.jpg");
	}
	.entry-related #night{
		background-image: linear-gradient(to top, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)), 
		url('../images/desktop/image-night-arcade.jpg');
	}
	.entry-related #soccer{
		background-image: linear-gradient(to top, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
		url('../images/desktop/image-soccer-team.jpg');
	}
	.entry-related #grid{
		background-image: linear-gradient(to top, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
		url('../images/desktop/image-grid.jpg');
	}
	.entry-related #vr{
		background-image: linear-gradient(to top, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
		url('../images/desktop/image-from-above.jpg');
	}
	.entry-related #pocket{
		background-image: linear-gradient(to top, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
		url('../images/desktop/image-pocket-borealis.jpg');
	}
	.entry-related #curiosity{
		background-image: linear-gradient(to top, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
		url('../images/desktop/image-curiosity.jpg');
	}
	.entry-related #fisheye{
		background-image: linear-gradient(to top, hsl(0, 0%, 0%, 0.5), hsl(0, 0%, 41%, 0)),
		url('../images/desktop/image-fisheye.jpg');
	}
	.entry-related .aside-button{
		grid-row: 1/2;
		grid-column: 3/5;
		justify-self: end;
		align-self: center;
		font-size: calc(0.3em + 1vw);
		width: 35%;
		height: 50%;
		letter-spacing: 3px;
	}
	.footer{
		padding: 2% 11%;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 70% 30%;
		grid-row-gap: 11%;
		width: 78%;
	}
	.footer .footer-logo{
		justify-self: start;
		align-self: center;
		width: 100%;
		display: grid;
	}
	.footer-logo img{
		justify-self: start;
		width: 10%;
	}
	.footer .footer-nav {
		display: grid;
		grid-row: 2/3;
		grid-column: 1/2;
	}
	.footer .footer-nav ul{
		justify-self: start;
		align-self: stretch;
		text-align: start;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 100%;
		grid-column-gap: 2%;
		font-size: calc(0.1em + 1vw);
	}
	.footer .footer-nav ul li{
		align-self: start;
	}
	.footer .social-container{
		align-self: end;
		justify-self: end;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 100%;
		width: 60%;
		height: 100%;
	}
	.footer .social-container li{
		justify-self: end;
		align-self: center;
	}
	.footer .social-container li:hover{
		text-decoration: underline solid var(--white) 4px;
		  text-underline-offset: 8px;
	}
	.social-container .social-link a{
		color: var(--white);
		text-decoration: none;
		height: 100%;
		font-size: calc(0.5em + 1vw);
	}
	.social-container .social-link a:hover{
		cursor: pointer;
		color: var(--white);
	}
	.footer .footer-copyright{
		align-self: start;
		justify-self: end;
		font-size: calc(0.1em + 1vw);
	}
 }
 /* Extra large screens */
 @media (min-width: 1281px) {
	.masthead .masthead-tittle{
		font-size: calc(2em + 1vw);
	}
	.masthead .main-navigation .navigation-item a{
		font-size: calc(0.6em + 0.3vw);
	}
	.grid-container .entry-tittle{
		font-size: calc(1.3em + 1vw);
	}
	.grid-container .entry-summary{
		font-size: calc(0.4em + 0.6vw);
	}
	.entry-related .aside-title{
		font-size: calc(1.5em + 1vw);
	}
	.entry-related .grid-item .entry-title{
		font-size: calc(1.5em + 1vw);
	}
 }
